@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Satoshi', sans-serif;
  /* font-style: normal;
  font-weight: 900; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .icon{
    @apply relative flex h-full p-2 w-10 shrink-0 overflow-hidden rounded-xl bg-[#0D0D0D] border-zinc-700 border
  }
}


